*{
    margin: 0;
    padding: 0;
    }

:root{
    --yellow: #ff9900;
    --gray: #7d7987;
    --footer-border: #ECEFF2;
}

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#hero{
    width: 592px;
    margin: 0px auto 72px;
    }

hero img{
    margin-bottom: 72px;
}

h1{
    font-family: 'Inter', sans-serif;    
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    }


h1 span{
    font-weight: bold;
 }

span, a{
    color: var(--yellow);
}

p, footer{
    color: var(--gray);

    font-size: 14px;
    line-height: 28px;
}

footer a + a{
    margin-left: 28px;
}

#line{
    width: 568px;
    height: 0;
    
    margin: 0 auto 8px;
   
    border: 1px solid var(--footer-border);
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;

}
